<div class="row d-flex justify-content-center">
  <div class="card col-lg-8 dashBoradContainer">
    <div class="col-sm-6 text-right">
      <h5>Search by:</h5>
    </div>
    <div class="col-sm-6">
      <div class="radio">
        <label><input name="sel" type="radio" value="all" (click)="onSelect($event)"> All Countries</label>
      </div>
      <div class="radio">
        <label><input name="sel" type="radio" value="reg" (click)="onSelect($event)"> All Regions</label>
      </div>
    </div>
  </div>
</div>